# ===== General =====
node_modules/
.env
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db

# ===== Backend =====
Backend/node_modules/
prisma/dev.db
prisma/dev.db-journal

# ===== Frontend =====
Frontend/node_modules/
Frontend/dist/
