body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #8e44ad, #3498db);
    color: #fff;
    display: flex;
    height: 100vh;
}

.main-layout {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar {
    width: 250px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar h2 {
    color: #fff;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidebar li {
    margin-bottom: 10px;
    width: 100%;
}

.nav-button {
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
    transition: background 0.3s ease;
}

.nav-button.active {
    background: #3498db;
}

.nav-button:hover {
    background: rgba(52, 152, 219, 0.7);
}
.return-button {
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
    transition: background 0.3s ease;
}

.return-button.active {
    background: #3498db;
}

.return-button {
    background: rgba(52, 152, 219, 0.7);
}
.content-container {
    flex-grow: 1;
    padding: 20px;
    overflow: auto;
}

.content-section {
    display: none;
}

.content-section.active {
    display: block;
}

iframe {
    width: 100%;
    height: calc(100vh - 80px); /* Ajusta según el contenido */
    border: none;
    border-radius: 10px;
    background: #fff;
}
