body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #8e44ad, #3498db);
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.container {
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    max-width: 1800px; /* Ancho máximo para pantallas grandes */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; /* Espaciado entre secciones */
    padding: 20px; /* Añade espacio alrededor del contenido */
    box-sizing: border-box; /* Incluye padding y border en el tamaño */
}

.chart-container {
    position: relative;
    height: 600px; /* Altura suficiente para el gráfico principal */
    width: 100%; /* Ocupa todo el ancho disponible */
    max-width: 1700px; /* Controla el ancho máximo del gráfico */
    margin: 0 auto;
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Añade sombra al contenedor */
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px; /* Espaciado entre los gráficos */
}

.chart-item {
    flex: 1 1 100%; /* Ocupa todo el ancho disponible */
    height: 600px; /* Altura del gráfico */
    max-width: 1700px; /* Asegura que no exceda el contenedor principal */
    background-color: #222;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidad */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chart-item canvas {
    width: 100%; /* Asegura que el canvas se ajuste al contenedor */
    height: 100%; /* Ajusta la altura automáticamente */
}

.chart-item h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #fff;
}
